*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
/app-refreash/release/
/.idea/inspectionProfiles
/.idea/caches
/.idea/libraries
/.idea/encodings.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
app/google-services.json
/scripts/ktlint-report.xml
/scripts/ktlint-report-orig.xml
